<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" data-bs-interval="1000">
      <div class="carousel-item active">
        <img src="../../../assets/Blood-Donation-1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/pexels-kirill-dratsevich-12227661.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/28458006_6c43_ouvm_220606.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div background="../../../assets/Blood-Donation-1.jpg">
    <br>
    <br>
    <div class="col">
        <div class="col">
        
        </div>
      </div>
      <br>
      <div class="container ">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/compatibility.PNG" class="card-img-top" class="card-img-top" alt="..." height="300px" >
                
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/home2.png" class="card-img-top" alt="..." height="300px" >
                
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/p2.jpg"class="card-img-top" alt="..." height="300px">
                
              </div>
          </div>
        
    </div>
  </div>
  