
<br>
<br>
<div class="wrapper" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-gap: 20px;">
    <div class="card" *ngFor="let i of blood">
      <img [src]="i.Image" />
      <div class="info">
        <h1>{{ i.name }}</h1>
        <p>{{ i.desc }}</p>
        <!-- <button routerLink="/units/recipe">READ MORE</button> -->
        <!-- <button [routerLink]="['/units/recipe', i.id]">READ MORE</button> -->
        <button (click)="gotohere(i.id)">view more</button>        
  
  
      </div>
    </div>
  </div>